#center{ 
    text-align: center;
} 
.body{
    padding-top: 50px;
} 
ul{
    text-decoration: none;
} 
.container{
    text-align: center; 
    list-style-type: none; 
    max-width: 500px;
}  
.foot{
    max-height: 200px;
} 
.flex{
    display: flex; 
    flex: 1; 
    justify-content: space-between; 
    flex-wrap: wrap;
    padding: 20px;
} 
.center{
    text-align: center; 
    padding-bottom: 50px; 
    padding-top: 50px; 
} 
a{
    text-decoration: none;
} 
li{
    padding: 20px; 
} 
h4{
    font-family: cursive;
} 
p{
    font-family: 'Courier New', Courier, monospace;
} 
hr{
    border: navajowhite;
} 
nav{
    padding-top: 20px;
}